body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: end;
}

.container {
  margin: 20px;
}

.form {
  width: 500px;
  background-color: antiquewhite;
  padding: 20px;
}
.btn-delete{
 width: 16px;
 height: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  background-image: url(./images/trash.svg);

 }

 .btn-delete:hover{
  background-color: gainsboro;
 }

 .btn-edit{
  width: 16px;
  height: 18px;
   border: none;
   outline: none;
   background-color: transparent;
   border-radius: 50%;
   background-image: url(./images/pencil.svg);
 
  }
 
  .btn-edit:hover{
   background-color: gainsboro;
  }




